* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgb(59, 54, 145) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
    text-align: center;
    font-weight: bold;
    color: aquamarine;
    background: coral;
    width: 30%;
    margin-left: 454px;
    justify-content: center;
}

    /* MAIN */

.container-bar {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 28px;
    color: aquamarine;
}

.container-bar2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 28px;
    color: aquamarine;
}

#Search {
    display: flex;
    margin-top: 80px;
    margin-left: 600px;
    font-size: 28px;
    justify-content: center;
    background-color: azure;
    border-color: beige;
}

.calculator-screen {
    width: 50%;
    font-size: 5rem;
    height: 30.9vh;
    margin-top: 20px;
    margin-left: 320px;
    background-color: rgb(61, 63, 185);
    color: #000000;
    text-align: center;
  }